$title: #32a5eb;
$text: #162137;

%mazzard-300{
  font-family: 'Mazzard-Light', sans-serif;
  font-weight: 300;
}

%mazzard-400 {
  font-family: 'Mazzard-Regular', sans-serif;
  font-weight: 400;
}

%mazzard-500 {
  font-family: 'Mazzard-Medium', sans-serif;
  font-weight: 500;
}

%mazzard-600 {
  font-family: 'Mazzard-SemiBold', sans-serif;
  font-weight: 600;
}

%mazzard-700 {
  font-family: 'Mazzard-Bold', sans-serif;
  font-weight: 700;
}

%roboto-500{
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%radio-hidden{
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}